.dates1{ width:182px; background:url(../img/input.png) no-repeat 0 -135px; padding:0 0 0 5px; height:27px; line-height:27px;}
.dates1.noneshow1{ background-position:0 -162px;width:182px; color:#ccc;}

.dates2{ width:110px;background:url(../img/input.png) no-repeat 0 -189px; padding:0 0 0 5px; height:27px; line-height:27px;}
.dates2.noneshow2{ background-position:0 -216px;color:#ccc;}
.dates3{width:98px; background:url(../img/input.png) no-repeat 0 -324px; padding:0 0 0 5px; height:27px; line-height:27px;}
.dates3.noneshow2{ background-position:0 -351px;color:#ccc;}
.datebutton{ width:46px; height:22px; line-height:22px; text-align:center; background:url(../img/input.png) no-repeat -187px -135px; cursor: pointer; margin:0 5px 0 5px; border:0; padding:0; border:0;}

.selectdate{position:absolute;padding:5px;background:#fff;position: absolute; z-index:9999; width:247px; border:solid 1px #ccc; margin:0 auto; text-align:center; font-size:14px;}
.selectdate select{ width:100px;}
.selectdate table{ width:245px; padding:0 0 5px 0; margin:5px auto; text-align:center; border-bottom:solid 1px #ccc; background:#F4F4F4; line-height:25px;}
.selectdate table th{ background:url(../img/nav_bg.png) no-repeat -20px -16px; color:#fff; width:35px;padding:0; margin:0; height:27px; font-weight:normal;}
.selectdate table th strong{ color:#FC0;}
.selectdate table td{ color:#000; width:35px;padding:0; margin:0; height:27px; cursor:pointer;}
.selectdate table td strong{ color: #960; display:block;height:27px; width:35px;background:url(../img/radio2.png) no-repeat 0 0; }
.selectdate table td span{  background: #fff; display:block;height:27px; width:35px;}
.selectdate table td em{ color:#999; background: #eee; display:block;height:27px; width:35px; font-style:normal;}

.selectdate table td.here span{ background: #ccc;}