@charset "utf-8";
@import url("style_currency.css");
/* ticket */
html{
	overflow:auto;
	zoom:1;
}
*{
	padding:0;
	margin:0;
	outline:none;
}

ol,li,ul,dl,dt,dd{
	list-style:none;
}
img{
	border:0;
}
b,em,i{
	display:inline-block;
	font-weight:normal;
	font-style:normal;
}

a{
	text-decoration:none;
	color:inherit;
}
h1, h2, h3, h4, h5, h6 { 
	font-size:inherit;
	font-weight:lighter;
}
body{
	font-size:14px;
	font-family:"΢���ź�",Microsoft YaHei;
}




input,textarea,select,button{ padding:0; margin:0; border:0; font-size:12px; line-height:20px; background:none;}



.book2-content {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 15px;
}
.book2-sider {
    width: 320px;
    height: auto;
    float: left;
    margin-left: 28px;
    background-color: #fff;
}
/*�����ܺ�*/
.book2-flightdetails {
  background: #212f5e;
  color: #FFF;
  padding: 0 20px;
  width:280px;
  height:auto;
  float:left;
}
.book2-flightdetails .airline {
  padding: 16px 0 0px;
}
.book2-flightdetails .airline:first-child {
  border-bottom: 1px solid #66bef2;
}
.book2-flightdetails .airline .section-hd {
  height: 24px;
  position: relative;
}
.book2-flightdetails .airline .section-hd h2 {
  color: #cae7f9;
  font-size: 14px;
  float: left;
}
.book2-flightdetails .airline .section-hd h2 span {
  margin-right: 4px;
  margin-left: 4px;
}
.book2-flightdetails .airline .section-hd h2 span:first-child {
  margin-left: 0;
}
.book2-flightdetails .airline .section-hd .combo {
  float: right;
  border: 1px solid #d5ecfa;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  padding: 0px 6px;
  cursor: pointer;
}
.book2-flightdetails .airline .section-hd .tipDiv {
  top: 24px;
  right: -8px;
}
.book2-flightdetails .airline .section-bd {
  position: relative;
  height: 74px;
}
.book2-flightdetails .airline .section-bd .flight-from,
.book2-flightdetails .airline .section-bd .flight-info,
.book2-flightdetails .airline .section-bd .flight-to {
  position: absolute;
  padding-top: 8px;
}
.book2-flightdetails .airline .section-bd .flight-from {
  left: 0;
  width: 64px;
}
.airport{
	font-size:12px;
}
.book2-flightdetails .airline .section-bd .flight-from .time,
.book2-flightdetails .airline .section-bd .flight-from .airport {
  text-align: center;
}
.book2-flightdetails .airline .section-bd .flight-info {
  margin-left: 70px;
  width: 136px;
}
.book2-flightdetails .airline .section-bd .flight-to {
  right: 0;
  width: 64px;
}
.book2-flightdetails .airline .section-bd .flight-to .time,
.book2-flightdetails .airline .section-bd .flight-to .airport {
  text-align: center;
}
.book2-flightdetails .airline .section-bd .time {
  font-size: 24px;
  font-family: arial;
  margin-bottom: 4px;
}
.book2-flightdetails .airline .section-bd .time,
.book2-flightdetails .airline .section-bd .airport {
  width: 64px;
  display: block;
}
.book2-flightdetails .airline .section-bd .airline-name,
.book2-flightdetails .airline .section-bd .airline-line,
.book2-flightdetails .airline .section-bd .airline-direct {
  display: block;
  text-align: center;
}
.book2-flightdetails .airline .section-bd .airline-name {
  color: #d7e9f9;
  position: relative;
}
.book2-flightdetails .airline .section-bd .airline-name .stopover {
  font-style: normal;
  color: #ffe671;
}
.book2-flightdetails .airline .section-bd .airline-name .stopover:hover {
  cursor: pointer;
}
.book2-flightdetails .airline .section-bd .airline-line {
  border-bottom: 1px solid #d5ecfa;
  margin: 6px 0;
  position: relative;
}
.book2-flightdetails .airline .section-bd .airline-line .line_arrow {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -4px;
  right: -2px;
}
.book2-flightdetails .airline .section-bd .tipDiv {
  top: 20px;
  right: -8px;
}
.book2-flightdetails .airline .section-bd .tipDiv .stopover-expand {
  width: 302px;
}
.book2-flightdetails .airline .section-bd .tipDiv .stopover-expand ul {
  overflow: hidden;
  padding: 6px 0;
  margin: 0 10px;
}
.book2-flightdetails .airline .section-bd .tipDiv .stopover-expand ul li {
  float: left;
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book2-flightdetails .airline .section-bd .tipDiv .stopover-expand ul.stopoverhd {
  border-bottom: 1px solid #ddd;
}
.book2-flightdetails .airline .section-bd .tipDiv .stopover-expand ul.stopoverhd li {
  font-weight: bold;
}
.book2-flightdetails .ticket-info {
  padding-bottom: 8px;
  height: 20px;
  position: relative;
}
.book2-flightdetails .ticket-info .tck-instruction {
  float: left;
  width: 54px;
  padding-right: 16px;
  cursor: pointer;
}
.book2-flightdetails .ticket-info .white_arrup {
  background-position: 54px -122px;
}
.book2-flightdetails .ticket-info .white_arrdown {
  background-position: 54px -108px;
}
.book2-flightdetails .ticket-info .tck-tips {
  float: right;
  cursor: pointer;
  color: #bedcf6;
}
.book2-flightdetails .ticket-info .tipDiv {
  top: 18px;
  right: 0;
}
.service-note {
  line-height: 45px;
  color: #2ca1e7;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding: 0 18px;
  /* width: 288px; */
  position: relative;
}
.service-note #title-service {
  /* background: red; */
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.service-note .tipDiv {
  margin: 0;
  right: 30px;
  white-space: normal;
  line-height: 20px;
  width: 370px;
  top: 40px;
}
.service-note .tipDiv b {
  color: black;
  font-weight: bold;
}
.ticket-details {
  background-color: #fff;
  color: #666;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.ticket-details .pdetail {
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.ticket-details .pdetailDiv {
  left: -282px;
}
.ticket-details .pdetailDiv .common_cutmain {
  width: 320px;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
}
.ticket-details .youknow {
  height: 20px;
  position: relative;
}
.ticket-details .youknow a {
  width: 120px;
  display: block;
  text-align: center;
}
.ticket-details .youknow a:hover {
  text-decoration: underline;
}
.ticket-details .youknow .needKnow {
  float: left;
  margin-left: 18px;
}
.ticket-details .youknow .needKnow .tipDiv {
  top: 18px;
  right: 214px;
  width: 486px;
  max-height: 550px;
  padding-right: 0;
}
.ticket-details .youknow .needKnow .tipDiv .tipText {
  overflow-y: auto;
  max-height: 390px;
}
.ticket-details .youknow .ticket-rules {
  float: right;
  margin-right: 18px;
}
.ticket-details .youknow .ticket-rules .tipDiv {
  top: 18px;
  right: 54px;
  width: 410px;
}
.ticket-details .showAll,
.ticket-details .needKnow a,
.ticket-details .ticket-rules a {
  color: #2da1e7;
}
.ticket-details .showAll {
  display: block;
}
.ticket-details .tickrules-detail {
  padding: 6px 10px 2px;
}
.ticket-details .tickhd {
  overflow: hidden;
  margin-bottom: 8px;
}
.ticket-details .tickhd .tick-go,
.ticket-details .tickhd .tick-back {
  width: 24%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2px;
  margin: 0 13%;
}
.ticket-details .tickhd .tick-go {
  float: left;
  cursor: pointer;
}
.ticket-details .tickhd .tgqchoosen {
  color: #2da1e7;
  border-bottom: 2px solid #2da1e7;
  cursor: pointer;
}
.ticket-details .tickhd .tick-back {
  float: right;
  cursor: pointer;
}
.ticket-details .tickbd .tickTop {
  font-weight: bold;
}
.ticket-details .tickbd ul {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  max-height: 400px;
  overflow: auto;
}
.ticket-details .tickbd ul li {
  float: left;
  line-height: 22px;
  width: 25%;
  white-space: normal;
  padding: 4px 0;
}
.ticket-details .remark {
  padding: 4px 0;
  white-space: normal;
  word-break: break-all;
  border-bottom: 1px solid #ddd;
}
.ticket-details .tick-explain {
  color: #999;
  height: 30px;
  line-height: 30px;
}
.order-money {
  border: 1px solid #ffe7cc;
  background-color: #fffef2;
}
.order-money .passengerAllNum,
.order-money .allcostGo,
.order-money .allcostBack {
  border-bottom: 1px solid #ffe7cc;
}
.order-money .passengerNumShow {
  float: right;
  cursor: pointer;
}
.order-money .allMoney {
  padding: 18px 18px 12px 18px;
}
.order-money .allcostGo {
  padding-bottom: 6px;
}
.order-money .allcostBack {
  padding: 6px 0;
}
.order-money .allcostRest {
  padding-top: 6px;
}
.order-money .order-detail {
  padding: 0px 18px 18px 18px;
}
.order-money .order-detail h6 {
  color: #333;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
.order-money .fullPrice {
  overflow: hidden;
  margin-bottom: 12px;
}
.order-money .fullPrice .wordA {
  float: left;
  font-size: 16px;
}
.order-money .fullPrice .priceA {
  float: right;
  font-size: 20px;
  color: #ff6633;
  font-weight: bold;
  font-family: arial;
}
.order-money .passengerAllNum {
  color: #666;
  text-align: right;
  padding-bottom: 10px;
  overflow: hidden;
}
.order-money .passengerAllNum .gray_arrup,
.order-money .passengerAllNum .gray_arrdown {
  display: block;
  float: right;
}
.order-money .allcost {
  color: #666;
}
.order-money .allcost li {
  height: 24px;
  line-height: 24px;
}
.order-money .allcost .spanLeft {
  float: left;
}
.order-money .allcost .spanRight {
  float: right;
  width: 80px;
}
.order-money .allcost .spanRight .everymoney {
  display: block;
  float: left;
  width: 60px;
}
.order-money .allcost .spanRight .peopleNum {
  float: right;
}






.book2-box{
	width:850px;
	height:auto;
	float:left;
}
.big_titles{
    padding: 24px 0 24px 0;
    color: #666;
    font-size: 16px;
	margin-left:30px;
	width:800px;
	height:auto;
	float:left;
}

.box1, .box2, .box3 {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-top: 3px solid #212f5e;
    background-color: #fff;
}


.boxsboxs {
    width: calc(100% - 2px);
    height: auto;
    float: left;
    border: 1px solid #ccc;
    border-top: 0;
    line-height: 25px;
    font-size: 14px;
    background-color: #fff;
}





