@charset "utf-8";
/* CSS Document */

     
            
            ol, ul {
                list-style: none;
            }
            
            blockquote, q {
                quotes: none;
            }
            
            table {
                border-collapse: collapse;
                border-spacing: 0;
            }
            
            blockquote:before, blockquote:after, q:before, q:after {
                content: '';
                content: none;
            }
            
            img {
                vertical-align: middle;
                border: 0;
                border: none;
            }
            
            input {
                font-family: "Microsoft Yahei", "微软雅黑";
                webkit-font-smoothing: antialiased;
                -moz-font-smoothing: subpixel-antialiased;
            }
            
            input:focus {
                outline: none;
                -moz-outline: none;
                -webkit-outline: none;
            }
            
            strong {
                font-weight: normal
            }
            
            em {
                font-style: normal;
            }
            
            em {
                font-style: normal
            }
            
            /* HTML5 display-role reset for older browsers */
            article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
                display: block;
            }
            
            a {
                color: #666;
                text-decoration: none;
            }
            
            a:hover {
                text-decoration: none;
            }
            
            a:focus {
                outline: none;
                -moz-outline: none;
                -webkit-outline: none;
            }
            
            /*
             日历  ----------------------------------------------------------------------------------------------------*/
            #calprev.disabled {
                cursor: default;
                background-position: 0 -19px;
            }
            
            #calnext.disabled {
                cursor: default;
                background-position: -23px -19px;
            }
            
            .calendarBox {
                position: relative;
                width: 338px;
                height: 188px;
                padding: 4px 5px 0;
                border: 1px solid #ccc;
                font-family: Tahoma;
                background: #FFF;
                z-index: 9999;
            }
            
            .calPrev, .calNext {
                width: 22px;
                height: 19px;
                background:url(../img/cal_btn.png) no-repeat;
                cursor: pointer;
            }
            
            .calPrev em, .calNext em {
                display: none;
            }
            
            .calPrev {
                position: absolute;
                left: 8px;
                top: 10px;
                background-position: 0 0;
            }
            
            .calNext {
                position: absolute;
                right: 8px;
                top: 10px;
                background-position: -23px 0;
            }
            
            .calendar {
                float: left;
                width: 163px;
                padding: 0 3px;
            }
            
            .calendar h2 {
                font-size: 12px;
                text-align: center;
                color: #0A259B;
				height:30px;
                font-weight: bold;
				line-height:30px;
            }
            
            .calendar dt {
                line-height: 21px;
                height: 21px;
                background: #999;
                color: #fff;
            }
            
            .calendar dt span {
                display: block;
                float: left;
                position: relative;
                left: -1px;
                width: 23px;
                height: 21px;
                text-align: center;
            }
            
            .calendar ul {
                width: 161px;
                overflow: hidden;
                border: 1px solid #e9e9e9;
            }
            
            .calendar li {
                line-height: 20px;
                float: left;
                width: 22px;
                height: 20px;
                text-align: center;
                border-right: 1px solid #e9e9e9;
                border-bottom: 1px solid #e9e9e9;
                position: relative;
                right: -1px;
                bottom: -1px;
                cursor: pointer;
                overflow: hidden;
            }
            
            .calendar li:hover {
                color: #fff;
				background:#09F;
            }
            
            .calendar li.current {
                line-height: 17px;
                width: 18px;
                height: 17px;
                border: 2px solid #0A259B;
                color: #f60;
                overflow: hidden;
            }
            
            .calendar li.disabled {
                background: #f8f8f8;
                color: #ccc;
            }
            
            .calendar li.delete {
                color: #ccc;
                text-decoration: line-through;
            }