@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑";
}
ul li{
	list-style: none;
}
header{
	width: 1400px;
	height: 80px;
	margin:0 auto;
	border-bottom: 1px solid #EFF3F4;
}
header span{
	color: orange;
}
header div{
	float: left;
}
header div:nth-child(1){
	width: 200px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}
header .head_middle{
	width: 700px;
	height: 80px;
	position: relative;
	left:110px;
}
header .head_list li{
	width: 120px;
	float: left;
	text-align: center;
	line-height: 80px;
}
header .head_list li img{
	position: relative;
	top:-2px;
}
header .head_right{
	width: 320px;
	height: 80px;
}
header .head_right p{
	width: 80px;
	height: 30px;
	float: left;
	margin-top: 25px;
	line-height: 30px;
	text-align: center;
}
.head_right .zfu{
	width: 80px;
	height: 30px;
	border-radius: 20px;
	border: 1px solid #F9F9F9;
	margin-right: 20px;
	color: #A1A1A1;
}
.box{
	width: 1400px;
	height: 820px;
	margin:0 auto;
}
.left{
	width: 200px;
	height: 820px;
	background: #3A3F52;
	text-align: center;
	float: left;
}
.left p{
	width: 100%;
	height: 52px;
	font-size: 20px;
	line-height: 50px;
	color: #878FA6;
	font-weight: bold;
}
.outer h3{
	width: 100%;
	height: 130px;
	line-height: 50px;
	color: #fff；
}
.outer h3 img{
	position: relative;
	top:20px;
}
.color{
	background: #2E3444;
}
.right{
	width: 1200px;
	height: 820px;
	background:#eee; 
	float: right;
}
.inner{
	width: 1200px;
	height: 820px;
}
.inner li{
	display: none;
}
.inner .show{
	height: 820px;
	display: block;
}
.inner li .top{
	width: 1200px;
	height: 50px;
	background: #fff;
	line-height: 50px;
	border-bottom:1px solid #eee;
}
.inner li .top h3{
	position: relative;
	left: 30px;
}
.inner li .middle{
	width: 1200px;
	height: 160px;
	background:#F8F9FB;
}
.middle div{
	float: left;
}
.middle .img{
	width:130px; 
	height: 160px;
	line-height: 160px;
	position: relative;
	left: 25px;
	top:30px;
	
}
.middle .zs{
	width: 260px;
	text-align: center;
	line-height: 30px;
	padding-top: 40px;
}
.middle .gs{
	width: 420px;
	text-align: center;
	line-height: 160px;
}
.bottom{
	width: 1200px;
	height: 580px;
	background: #EFF3F4;
	position: relative;
	top:30px;
}
.bottom_box{
	width: 1150px;
	height: 530px;
	margin:0 auto;
	background: #fff;
}
.bottom h3{
	width: 1100px;
	height: 50px;
	margin:0 auto;
	background: #F0F0F0;
	line-height: 50px;
	position: relative;
	top:15px;
	padding-left: 20px;
}
.bottom .list{
	position: relative;
	top:15px;
	width: 1100px;
	margin:0 auto;
}
.bottom .list p{
	height: 55px;
	line-height: 55px;
	padding-left: 10px;
	border-bottom: 1px solid #E0E0E0;
}
.foot{
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	text-align: center;
	color: #98999B;
}