@charset "utf-8";
@import url("style_currency.css");
/* logo */
html{
	background-color:#f4f4f4;
	overflow:auto;
	zoom:1;
}
*{
	padding:0;
	margin:0;
	outline:none;
}
ol,li,ul,dl,dt,dd{
	list-style:none;
}
img{
	border:0;
}
b,em,i{
	display:inline-block;
	font-weight:normal;
	font-style:normal;
}

a{
	text-decoration:none;
	color:inherit;
}
h1, h2, h3, h4, h5, h6 { 
	font-size:inherit;
	font-weight:lighter;
}
body{
	font-size:14px;
	font-family:"微软雅黑",Microsoft YaHei;
}
#main{
	margin-top:15px;
}
#touchMain{
	width:100%;
	height: 457px;
	float:left;
	margin:auto;
}
#bgstyle2,#bgstyle3,#bgstyle4,#bgstyle5{
	display:none;
}
/*����ͼ�л�*/
#touchMain .slide-box,.slide,.obj{
	display:block;
	width:100%;
	height:auto;
	overflow:hidden;
}
#touchMain .slide-box{
	position:relative;	
}
#touchMain .item{display:block;width:100%;margin:auto;height:20px;position:absolute;z-index:2;margin-top:-30px;text-align:center;}
#touchMain .item a{display:inline-block;width:10px;height:10px;background:#777;overflow:hidden;border-radius:50%;}
#touchMain .item a.cur{background:#fff;}
/*����ͼ�л�*/



.hide {
	display: none;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #999;
}

.form-control::-webkit-input-placeholder {
	color: #999;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn:hover, .btn:focus, .btn.focus {
	color: #333;
	text-decoration: none;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-warning {
	color: #fff;
	background-color: #F90;
	border-color: #F90;
}

.btn-warning:focus, .btn-warning.focus {
	color: #fff;
	background-color: #EC8D00;
	border-color: #EC8D00;
}

.btn-warning:hover {
	color: #fff;
	background-color: #EC8D00;
	border-color: #EC8D00;
}

input, select, a {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.login {
	height: 457px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
/*
.logo {
	width: 178px;
	height: 31px;
}*/

.Carousel img {
	height: 457px;
}

.head {
	background: url("../../img/login_head.png") no-repeat;
	line-height: 23px;
}

.head .main div {
	display: inline-block;
}

a {
	color: #666;
}

.phoneNum {
	color: #FF6600;
}

.headTips {
	color: #00ADEE;
}

.companyInter {
	display: block;
	line-height: 28px;
	background: url("../../img/company.png") no-repeat;
	color: white;
	width: 87px;
}

.companyInter:hover {
	background: url("../../img/company_mouseOver.png") no-repeat;
	color: white;
}

companyInter:active {
	color: white;
}

.loginFast {
	display: block;
	line-height: 28px;
	background: url("../../img/loginWhite.png") no-repeat;
	color: #4D7DC8;
	width: 87px;
}

.loginFast:hover {
	background: url("../../img/company_mouseOver.png") no-repeat;
	color: white;
}

.loginFast:active {
	color: white;
}

.loginFrame {
	width: 280px;
	height: 340px;
	height: 360px;
	position: absolute;
	top: 50px;
	left: 50%;
	color: #D7D7D7;
	margin-left: 310px;
	display: block;
}

.login-cont {
	z-index: 6;
	position: absolute;
}

.login-nav {
	border-bottom: 1px solid #999;
	height: 55px;
	width: 279px;
}


.right {
	float: right;
}
.text-gray {
	color: #A1A1A1;
}

.login-nav label {
	line-height: 51px;
	text-align: center;
	width: 90px;
	display: inline-block;
	font-weight: normal;
	cursor: pointer;
}

.loginFrame .login-nav .active {
	font-weight: bold;
	color: white;
	border-bottom: 3px solid white;
}

.user-login, .userInfo {
	margin: 0 25px;
}

.userInfo {
	margin-top: 15px;
	min-height: 180px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.userInfo input[type='text'], .userInfo input[type='password'] {
	color: black;
	height: 30px;
}

.user-login div, .userInfo div {
	padding: 9px 0;
}

.userInfo input[type='text'].img-code {
	width: 140px;
}

.account .text-primary {
	line-height: 21px;
}

.userInfo .text-primary:hover {
	text-decoration: underline;
}

.btn-default-line {
	background-color: transparent;
	border: 1px solid white;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: white;
	padding: 3px 5px;
}

.btn-default-line:hover {
	background-color: #00CCFF;
	color: white;
	border-color: #00CCFF;
}

#loginBtn {
	width: 100%;
}

.board.left {
	width: 64%;
}

.board.right {
	width: 34%;
}

.navMenu li {
	float: left;
	margin-left: 6px;
	width: 87px;
	text-align: center;
	cursor: pointer;
	line-height: 26px;
	list-style: none;
}

.navMenu li a {
	color: black;
	width: 87px;
	text-align: center;
	cursor: pointer;
	line-height: 26px;
	display: inline-block;
}

.navMenu li a.active {
	color: #4D7DC8;
}

.navMenu a:hover {
	color: #4D7DC8;
}

.Carousel {
	position: relative;
}

.num {
	position: absolute;
	overflow: hidden;
	height: 22px;
	bottom: 10px;
	zoom: 1;
	z-index: 3;
	left: 50%;
	top: 431px;
	/* opacity: 0.6;
	filter: alpha(opcity = 60); */
	margin-left: -76px;
}

.num ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 150px;
	height: 22px;
	padding-left: 7px;
	background: url(../../img/propaganda/sprint.png) no-repeat 0 0;
	background-position: -590px -114px;
}

.num ul li {
	background: url("../../img/carousel_list.png") no-repeat 10px 4px;
	width: 19px;
	height: 16px;
	float: left;
	position: relative;
}

.num ul li.on a {
	position: absolute;
	background: url(../../img/propaganda/sprint.png) no-repeat -602px -174px;
	width: 9px;
	height: 9px;
	top: 4px;
	left: 11px;
}

.share .qq, .share .weibo, .share .weixin {
	width: 21px;
	height: 21px;
	margin: 0 5px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.share .weibo {
	background: url("../../img/u136.png") no-repeat;
	background-size: 21px 21px;
}

.share .weibo:hover {
	background: url("../../img/u136_mouseOver.png") no-repeat;
	background-size: 21px 21px;
}

.share .weixin {
	background: url("../../img/u138.png") no-repeat;
	background-size: 21px 21px;
}

.share .weixin:hover {
	background: url("../../img/u138_mouseOver.png") no-repeat;
	background-size: 21px 21px;
}

.share .qq {
	background: url("../../img/u119.png") no-repeat;
	background-size: 21px 21px;
}

.share .qq:hover {
	background: url("../../img/u119_mouseOver.png") no-repeat;
	background-size: 21px 21px;
}

.share a:hover {
	color: orange;
	text-decoration: underline;
}

a.text-gray:hover {
	color: #A1A1A1;
	text-decoration: underline;
}

.notice-list a {
	width: 460px;
	display: inline-block;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.login-bg {
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	left: 0;
	right: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	opacity: .5;
	filter: alpha(opacity = 50); /* IE 8 */
}

.welcome img {
	width: 14px;
	height: 14px;
}

.intr-list {
	
	padding-bottom: 170px;
}

.intr-list .intr-block {
	width: 38%;
	vertical-align: middle;
}

.intr-list .intr-block:first-child {
	margin-right: 10%;
}

.intr-list .intr-block-word {
	width: 52%;
	z-indx:99;
}

.intr-list .intr-block h3 {
	color: #333;
	font-size: 30px;
	font-weight: normal;
	line-height: 60px;
	letter-spacing: -1px;
}

.intr-list .intr-block p {
	color: #666;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
}

.intr-list .intr-block label {
	display: block;
	color: #999;
	font-size: 14px;
	line-height: 25px;
}

.intr-list .intr-block input[type='button']{
	margin-top: 20px;
	font-size: 16px;
	line-height: 36px;
	height: 40px;
	width: 150px;
}

.circle1, .circle2, .circle3 {
	width: 310px;
	height: 337px;
	position: absolute;
}

.circle1 {
	margin-top: -175px;
	left: 35%;
}

.circle2 {
	margin-top: -205px;
	left: 35%;
}

.circle3 {
	margin-top: -195px;
	left: 35%;
}

.plat-block-left, .plat-block-right {
	width: 35%;
	margin-top: 30px;
}

.plat-block-left:first-child, .plat-block-right:first-child {
	margin-right: 30%;
}

.plat-block-left .plat-item, .plat-block-right .plat-item {
	width: 100%;
	position: relative;
	min-height: 80px;
	padding-top: 15px;
	padding-bottom: 90px;
	cursor: default;
}

.plat-item h3 {
	font-size: 20px;
	color: #333;
	font-weight:normal;
}

.plat-item label {
	font-size: 14px;
	color: #999;
}

.plat-block-left .plat-item:after, .plat-block-right .plat-item:after {
	content: "";
	position: absolute;
	top: 0;
	background: url(../../img/propaganda/sprint.png) no-repeat 0 0;
	width: 80px;
	height: 80px;
}

.plat-block-left .plat-item:before, .plat-block-right .plat-item:before
	{
	content: "";
	position: absolute;
	background: url(../../img/propaganda/sprint.png) no-repeat 0 0;
	width: 10px;
	height: 61px;
	top: -66px;
	background-position: -581px -42px;
}

.plat-block-left .plat-item:first-child:before, .plat-block-right .plat-item:first-child:before
	{
	display: none;
}

.plat-item:hover h3, .plat-item:hover label {
	color: #119DEE;
}

.plat-block-left .plat-item1:after, .plat-block-right .plat-item1:after
	{
	background-position: 0 -87px;
}

.plat-block-left .plat-item1:hover:after, .plat-block-right .plat-item1:hover:after
	{
	background-position: 0 -5px;
}

.plat-block-left .plat-item2:after, .plat-block-right .plat-item2:after
	{
	background-position: -83px -87px;
}

.plat-block-left .plat-item2:hover:after, .plat-block-right .plat-item2:hover:after
	{
	background-position: -83px -5px;
}

.plat-block-left .plat-item3:after, .plat-block-right .plat-item3:after
	{
	background-position: -166px -87px;
}

.plat-block-left .plat-item3:hover:after, .plat-block-right .plat-item3:hover:after
	{
	background-position: -166px -5px;
}

.plat-block-left .plat-item4:after, .plat-block-right .plat-item4:after
	{
	background-position: -249px -87px;
}

.plat-block-left .plat-item4:hover:after, .plat-block-right .plat-item4:hover:after
	{
	background-position: -249px -5px;
}

.plat-block-left .plat-item5:after, .plat-block-right .plat-item5:after
	{
	background-position: -332px -87px;
}

.plat-block-left .plat-item5:hover:after, .plat-block-right .plat-item5:hover:after
	{
	background-position: -332px -5px;
}

.plat-block-left .plat-item6:after, .plat-block-right .plat-item6:after
	{
	background-position: -417px -82px;
}

.plat-block-left .plat-item6:hover:after, .plat-block-right .plat-item6:hover:after
	{
	background-position: -417px -3px;
}

.plat-block-right .plat-item {
	text-align: right;
	padding-right: 100px;
}

.plat-block-right .plat-item:after {
	right: 0;
}

.plat-block-right .plat-item:before {
	right: 35px;
}

.plat-block-left .plat-item {
	text-align: left;
	padding-left: 100px;
}

.plat-block-left .plat-item:after {
	left: 0;
}

.plat-block-left .plat-item:before {
	left: 35px;
}

.plat-list {
	background: url(../../img/propaganda/login-phone.png) no-repeat center 0;
}

.moudle-list {
	font-size: 14px;
	margin-bottom: 60px;
}

.moudle-list h3 {
	font-size: 24px;
	margin-bottom: 15px;
}

.moudle-list input {
	margin: 30px auto auto auto;
	display: none;
}

.moudle-list .moudle-item {
	border: 2px solid transparent;
	width: 20%;
	padding: 20px;
	height: 325px;
	cursor: pointer;
	text-align: center;
	vertical-align: top;
}

.moudle-list .moudle-item:hover {
	border: 2px solid #F5F5F5;
	background-color: #FBFBFB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.moudle-list .moudle-item:before {
	background: url(../../img/propaganda/sprint.png) no-repeat center 0;
	display: block;
	content: "";
	width: 70px;
	height: 70px;
	margin: 40px auto 15px auto;
}

.moudle-list .moudle-item1:before {
	background-position: -4px -175px;
}

.moudle-list .moudle-item2:before {
	background-position: -70px -175px;
}

.moudle-list .moudle-item5:before {
	background-position: -132px -175px;
}

.moudle-list .moudle-item4:before {
	background-position: -202px -175px;
}

.moudle-list .moudle-item3:before {
	background-position: -267px -175px;
}

.moudle-item h3 {
	font-size: 28px;
	color: #333;
	font-weight: normal;
}

.moudle-item p {
	font-size: 14px;
	color: #999;
}

.moudle-item:hover input {
	display: block;
}

.use-block {
	background: url(../../img/propaganda/login-bg.png) no-repeat 50% 0;
	height: 285px;
	color: white;
	text-align: center;
	padding: 60px 0;
}

.use-block h2 {
	font-size: 32px;
	font-weight: normal;
}

.use-block input {
	margin: 35px auto;
	width: 150px;
	height: 40px;
}

.intro {
	position: relative;
}

.font28 {
	font-size: 28px;
}

.pad-left50 {
	padding-left: 50px;
}

.w120 {
	width: 120px;
}

.inline-block {
	display: inline-block;
	zoom: 1;
}
.plat-list .more {
	margin: 20px auto;
	width: 100%;
	line-height: 46px;
	text-align: center;
	margin-bottom:95px;
}
@media screen and (max-width: 1200px){
	.Carousel img {
    margin-left: -370px;
}
}

@media screen and (max-width: 1280px){
	.Carousel img {
    margin-left: -320px;
}
}

@media screen and (max-width: 1366px){
	.Carousel img {
    margin-left: -277px;
}
}

@media screen and (max-width: 1440px){
	.Carousel img {
    margin-left: -240px;
}
}
hr{
	width:100%;
	border-width:1px;
	border-top:1px solid #999;
	    border-bottom: 0;
}
.friendLink{
	font-size:12px;
}

.friendLink a{
	padding-right:15px;
	font-size:12px;
}
.footer{
	height:300px;
}

.Yzm{
	width: 70%;
}
.div1{
	width: 80px;
	height: 26px;
	position: relative;
	left: 130px;
	background: #000;
	padding:2px 8px;
	letter-spacing:3px;
	font-family: '微软雅黑';
	border-radius:5px;
	text-align: center;
	line-height: 20px;
}
.div1 a{
	position: relative;
	top:-24px;
	color: #fff;
}
.yzm{
	float: left;
}