@charset "utf-8";
/* CSS Document */

@import url("style_currency.css");
*{margin:0px; padding:0px;}
html{height:100%;}
body{ background:#f0f3f4; color:#444444; font:14px/20px 微软雅黑, \5FAE\8F6F\96C5\9ED1; height:100%;}
ul, li { list-style:none; } 
a img{border:0;}
a{color:#444444;}
a, a:hover { text-decoration:none; } 
img { display:block; border:0; }
input { outline:none; }
ul, li { list-style:none; }  
h1{font-size:24px; color:#202f5c; font-weight:normal; line-height:50px; padding-left:10px;}


#main{
	width:100%;
	height:auto;
	float:left;
	margin-top:78px;
}
.main_left{
	width:200px;
	height:100%;
	position:fixed;
	left:0;
	background-color:#3a3f51;
}
.main_right{
	width:calc(100% - 200px);
	height:100%;
	float:left;
	margin-left:200px;
}







/*左边通用导航样式*/

.left_nav{width:200px; height:100%; float:left;position:fixed;z-index:1000;background:#3a3f51;}
.left_navW{width: 200px; position:relative; float:left; background:#3a3f51;  height:100%; position:fixed;z-index:1000;}

.left_navF{color:#cdd1de; font-size:16px; }
.left_navB {color:#cdd1de;}
.left_ul li{width:200px; height:125px; }

 .left_ulJS1{background:#2e3344; height:125px; width:200px;cursor:pointer;}
 .left_ulJS1 a{ color:#fff;}
 
.left_ulJS1 .bgJS1{ background:url(../img/img_pic2.jpg) no-repeat center right; color:#FFF; height:105px; padding-top:20px; }


.left_ulJS2{ height:125px; width:200px; border-bottom:#2e3344 1px solid;cursor:pointer;}
.left_ulJS2 a{ color:#cdd1de;}
.left_ulJS2 .bgJS1{height:105px; padding-top:20px; }
.left_ulJS2 .bgJS1 .icon_bg1,.left_ulJS2 .bgJS1 .icon_bg2, .left_ulJS2 .bgJS1 .icon_bg3, .left_ulJS2 .bgJS1 .icon_bg4{ background:url(../img/img_icon.png); display:block; clear:both; width:80px;  padding-top:70px; margin:0 auto; text-align:center; display:block;}	
.left_ulJS2 .bgJS1 .icon_bg1{width:80px;background-position:0px 0px;}
.left_ulJS2 .bgJS1 .icon_bg2{width:80px;background-position:0px -120px;}
.left_ulJS2 .bgJS1 .icon_bg3{width:80px;background-position:0px -240px;}
.left_ulJS2 .bgJS1 .icon_bg4{width:80px;background-position:0px -360px;}



.left_ulJS1 .bgJS1 .icon_bg1,.left_ulJS1 .bgJS1 .icon_bg2, .left_ulJS1 .bgJS1 .icon_bg3, .left_ulJS1 .bgJS1 .icon_bg4{ background:url(../img/img_icon2.png); display:block; clear:both; width:80px;  padding-top:70px; margin:0 auto; text-align:center; display:block;}	
.left_ulJS1 .bgJS1 .icon_bg1{width:80px;background-position:0px 0px;}
.left_ulJS1 .bgJS1 .icon_bg2{width:80px;background-position:0px -120px;}
.left_ulJS1 .bgJS1 .icon_bg3{width:80px;background-position:0px -240px;}
.left_ulJS1 .bgJS1 .icon_bg4{width:80px;background-position:0px -360px;}




/*右边样式*/
.right_borF{width:100%;min-width:1000px;float:left;height:50px; line-height:50px; border-bottom:#dddddd 1px solid;  background:#FFF; box-shadow: 2px 2px 6px #e5eaf0; text-indent:2em; }

.right_nameF{width:100%;min-width:1000px;float:left; height:100px; padding:20px 0; background:#f8f9fa; border-bottom:#e0e0e0 1px solid;}
.rignt_fontF{width:auto;font-size:30px; line-height:100px; text-align:center; border-left:#CCC 1px solid; padding:0px 50px;float:left;}
.right_nameB{ padding:10px 20px;}
.right_nameA{ font-size:24px;}
.right_f12{font-size:12px;}
.right_cl{ color:#999999;}
.right_list{padding-left:200px;}
.right_listB{border:#dee5e7 1px solid; padding:20px; margin:20px; background:#FFF; overflow:hidden; width:calc(100% - 80px);min-width:920px;float:left;}
.right_listBl{border:#dee5e7 1px solid; padding:20px; margin:20px; background:#FFF;float:left; width:92%;   }


.right_f14{ font-size:14px;}
.right_bold{ font-weight:bold;}
.right_tabB td{border-bottom:#e0e0e0 1px solid; padding:8px 15px;}
.right_tabDIV{width:100%; margin:0 auto; overflow:hidden;}

.pageU{ margin:20px; text-align:right; }
.pageU a{ border:1px solid #c5c5c5; padding:6px 10px; margin:0 2px; color:#545454;}
.ftlanU{color:#44444;}
.ftheiU{ color:#4444;}



/*底部文件样式*/
.font_pix{height:40px; width:100%;background:#f0f3f4; clear:both;  position:fixed; z-index:9998; bottom:0px;}
.foot_mar{margin:10px 20px 10px 20px; width:100%;/* width:calc(100% - 500px);*/ float:left;  text-align:left; }
.foot_font{color:#999999;}
.foot13{ font-size:13px;}
.foot_picc{height:40px; width:100%;background:#f0f3f4; clear:both;  position:fixed; z-index:9998; bottom:0px}






/*部门管理*/
.right_listR{border:#dee5e7 1px solid; padding:20px; margin:20px; background:#FFF; overflow:hidden; float:right; width:calc(100% - 360px); }

.class_listB{border:#dee5e7 1px solid; padding:10px; margin:20px 0px 20px 20px; background:#FFF;  width:235px; position:absolute;height: 575px;}

.class_nav{height:40px; line-height:40px; background:#f0f0f0; padding-left:10px;}

.font16Z{font-size:16px;}
.font15Z{font-size:15px;}
.class_img{padding:20px; line-height:28px; margin-top:20px; text-align:left;  overflow-y:scroll; height:470px;}

.bottonO{background:#ffa400; height:30px; color:#FFF; border:0px; border-radius:3px 3px; width:82px; font-size:16px;}
.bottonH{background:#aaaaaa; height:30px; color:#FFF; border:0px; border-radius:3px 3px; width:82px; font-size:16px;}
.input_bor{border:#e0e0e0 1px solid;  line-height:24px; border-radius:2px 2px;}
.input_H{ width:180px;height:24px; }
.input_WH{ width:150px;height:24px; }
.input_BZ{ width:220px;height:32px; }

.right_borF ul li{ float:left; width:100px; padding:0px 00px; text-align:center; text-indent:0em;}
.right_borLi{background:#868ea6; color:#FFF;}
.icon_jt{ background:url(../img/icon_jt.png) no-repeat center top; height:20px}
.tab_span{margin:0px 10px;}
.lan14{color:#005ed1;} 
.lan14 a{color:#005ed1;} 
.lan14bg{color:#005ed1;} 
.lan14bg a{ border:#868ea6 1px solid;  border-radius:3px 3px; padding:5px; color:#868ea6;} 

.class_listT{border:#dee5e7 1px solid; padding:10px; margin:20px 0px 20px 20px; background:#FFF; float:left; width:100%; min-width:1000px; position:absolute;}
.red-x{color:#F00;}
.mainF_a{
	margin-left:30px; font-size:16px;
}
.mainF_a a{
	width:100px;
	height:50px;
	float:left;
	text-align:center;
	text-indent:0;
	
}
.mainF_a a.on{
	background-color:#868ea6;
	color:#fff;
	line-height:30px;
}

.mainF_a a.on:before {
    content: '';
    display: block;
    width:0;
    height:0;
    position: relative;
    top:50px;
    left:42px;
    border-top: 10px solid #868ea6;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}


.right_ygw{
	width:100%;
	height:30px;
	float:left;
	line-height:30px;
	margin-bottom:20px;
	
}
.right_ygw .ygadd{
	width:110px;
	height:30px;
	float:left;
	line-height:30px;
	background:url(../img/ssa.png) no-repeat;
	border:0;
	border-radius:3px;
	color:#fff;
	text-align:center;
	text-indent:1em;
	font-size:16px !important;
	cursor:pointer;
}
.right_ygw .czrz{
	width:110px;
	height:30px;
	line-height:30px;
	float:left;
	background:url(../img/ww.png) no-repeat -5px 0;
	border:0;
	border-radius:3px;
	color:#fff;
	text-align:center;
	text-indent:1.5em;
	font-size:16px !important;
	margin-left:20px;
	
}
.right_ygw .pltz{
	width:100px;
	height:30px;
	float:left;
	line-height:30px;
	background:url(../img/icon-batch.png) no-repeat;
	border:0;
	border-radius:3px;
	color:#fff;
	text-align:center;
	text-indent:1em;
	font-size:16px !important;
	cursor:pointer;
	margin-left:20px; padding-left:10px;}
	
.pltzW{
	width:100px;
	height:30px;
	float:left;
	line-height:30px;
	background:url(../img/icon-batch.png) no-repeat;
	border:0;
	border-radius:3px;
	color:#fff;
	text-align:center;
	font-size:16px !important;
	cursor:pointer;
	margin-top:10px; padding-left:10px;
	padding-left:20px}
	
	
/*弹出层*/
