 dl.selects{margin:0 10px 0 0; cursor:pointer; float:left;width:187px; height:27px;}
dl.selects dt{padding:0 0 0 5px;width:182px; /*overflow:hidden;*/ margin:0;position: absolute;height:27px; line-height:27px;background:url(../img/input.png) no-repeat 0 -27px;}
dl.selects dt.roomnum{padding:0 0 0 5px;width:182px; overflow:hidden; margin:0;position: absolute;height:27px; line-height:27px;background:#f6f6f6;}
dl.selects dt span{ color:#999;}
dl.selects dd{ font-size:11px;width:185px;position: absolute;z-index:1002; padding:0; margin:27px 0 0 0; display:none;background:#fff;}
dl.selects dd ul{ padding:0; margin:0;z-index:1002; border:solid 1px #ccc; }
dl.selects dd li{ line-height:25px; height:25px; overflow:hidden; border-bottom:solid 1px #ccc;padding:0 0 0 5px; background:#fff;}
dl.selects dd li:hover{ background: #EAEAEA;}

dl.selects.lit1{ width:100px; }
dl.selects.lit1 dt{ width:110px; background-position:0 -54px;}
dl.selects.lit1 dt input{*margin-top:5px;}
dl.selects.lit1 dd{width:113px; }
dl.selects.limited dd{height:156px;overflow-y: scroll;}
dl.selects.lit1.noinput dt{background-position:-114px -54px; color:#666;}
dl.selects.lit2{ width:98px; }
dl.selects.lit2 dt{ width:95px; background-position:0 -81px;}
dl.selects.lit2 dd{width:98px; }
dl.selects.lit2.noinput dt{background-position:-99px -81px; color:#666;}
dl.selects.lit3{ width:67px; margin-top:2px;}
dl.selects.lit3 dt{ width:64px;/*background-position:0 44px;*/ background-position:0 -297px; }
dl.selects.lit3 dd{width:64px; }
dl.selects.lit3.noinput dt{background-position:-90px -108px; color:#666;}
dl.selects.lit4{ width:300px; }
dl.selects.lit4 dt{ width:297px; background-position:0 -243px;}
dl.selects.lit4 dd{width:300px; }


dl.selects.lit5{ width:98px;height:22px; }
dl.selects.lit5 dt{ width:95px; background-position:-187px -27px;height:22px; line-height:22px;}
dl.selects.lit5 dd{width:98px;line-height:22px; height:20px; margin:22px 0 0 0; }
dl.selects.lit5 dd li{line-height:22px; height:20px; background:#fff;}


dl.selects.place dd{ width:340px; overflow:hidden;}
dl.selects.place dd span{ display:block; height:18px; background:#F3F3F3; padding:5px; width:330px; line-height:18px}
dl.selects.place dd span em{ float:left; display:block;padding:0 6px 0 6px; height:18px;font-style:normal;}
dl.selects.place dd span em.shows{ background: #069; color: #fff;}
dl.selects.place dd li{ float:left; padding:0 0 0 5px; line-height:20px; height:20px; margin:3px; width:71px;}
dl.selects.place dd li:hover{ background: #E9E9E9;}
dl.selects.place dd ul{ display:none; padding:5px;}
dl.selects.place dd ul.showuls{ display: block;}
dl.selects .showinput{margin-top:2px;position:absolute;z-index:0;width:90px;height:22px; text-indent:4px; display:block;}
dl.selects .showinput1{margin-top:2px;position:absolute;z-index:0;width:90px;height:22px; text-indent:4px;}
dl.selects .arealayer{ display:none;margin-top:28px;position:absolute;z-index:1;width:170px;/*height:200px;*/ height:auto;overflow:auto;border:1px solid #ccc;background:#fff;}
dl.selects .arealayer span{margin:0 auto;display:block;/*min-width:130px;*/width:170px;height:24px;line-height:24px;text-indent:10px;color:#333;border-bottom:1px solid #ccc}
dl.selects .arealayer span:hover{color:#999;}

/*new updates*/
dl.selects.place .showuls li.tit{
width:100%;
background:#CCCCCC;
font-size:15px;
height:25px;
line-height:25px;
color:#333333
}
.commonAddress{
}
.commonAddress .selectPlace{
width:200px;
}
.commonAddress .selectPlace dt{
width:200px;
background-position: right -243px;
border-left:1px solid #ccc;
}




/*????*/
.theinput{ width:181px; background:url(../img/input.png) no-repeat 0 0; padding:0 0 0 5px; height:27px; line-height:27px; border-right:solid 1px #ccc;}
.theinput.noinput{ background-position:0 -270px; color:#999;width:40px;}
.theinput1{ width:109px;}
.theinput2{ width:94px;}
.theinput3{ width:294px;}
.theinput4{ width:75px;}
.adults .theinput4{ width:70px;}





.box_blue{ padding:5px;  border:solid 1px #9ec0cc; background:#e9f2f7;font-size:13px;}
.prompt_s{ padding:0 0 0 25px; background:url(../img/icons.png) no-repeat; display:block;
	background-position: 0 -96px;
}














