.train_list_sea{
	width:100%;
	height:50px;
	float:left;
	color:#333;
	background-color:#212f5e;
}
.train_list_sea label{
	color:#fff;
}
#placesback_ch,#placego_ch{
	height:40px;width:200px;float:left;margin-top:8px;
}
#placego_ch{
	margin-left:20px;
}
.dt_value{
	background:none;float:left;height: 30px;background: none;border-radius: 2px;width:189px;
}
#zhuanhuan{
	float:left;width:20px;height:20px;margin-right:10px;margin-top:16px;cursor:pointer;
}


#startDateTexta{
	height:27px;
	margin-top:10px;
	margin-left:20px;
	padding:0 5px;
}
.search-btn { width: 100px; height: 30px; background: #ff7800; border-radius: 5px; margin:12px 20px 0 30px; font-size: 16px; text-align: center; line-height: 30px; color: #FFF; cursor: pointer; border: none;}
.cxspd{
	float:right;
	margin-right:20px;
	line-height:50px;
	color:#fff;
}

.fsearch_info{
	margin-top:20px;
}
.fsearch_info .fsearch_title {
    float: left;
    width: auto;
    font-size: 22px;
    line-height: 25px;
	text-indent:0.2em;
}

.filter {
    background-color: #fff;
    border: solid 1px #ddd;
    padding: 20px 0 0 20px;
    position: relative;
	float:left;
	width:calc(100% - 22px);
	margin:5px 0 20px 0;
	height:auto;
	border-top:0;
}
.filter span {
    display: inline-block;
}
.filter .filter_row {
    font-size: 0;
    margin-bottom: 20px;
    height: 20px;
    line-height: 20px;
    color: #666;
}
.filter_row .filter_title {
    font-weight: bold;
    font-size: 12px;
}
.filter_row .filter_item {
    padding: 0 8px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 7px;
}
.filter_row .filter_item:hover, .filter_item.checked {
    background: #212f5e;
    color: #fff;
	border-radius:3px;
}
.filter_row .filter_one {
    width: 100px;
	text-align:center;
}
.icon_check_box {
    background-position: -130px -135px;
    width: 13px;
    height: 13px;
    vertical-align: -2px;
}
.checked .icon_check_box {
    background-position: -150px -135px;
}
.filter_size_toggle {
    position: absolute;
    bottom: 20px;
    height: 20px;
    line-height: 20px;
    left: 650px;
    color: #426da5;
    font-size: 12px;
    cursor: pointer;
}
.filter_clear {
    position: absolute;
    top: 20px;
    height: 20px;
    line-height: 20px;
    left: 650px;
    color: #209ff7;
    font-size: 12px;
    cursor: pointer;
}

.search_result {
    margin-bottom: 20px;
	width:100%;
	height:auto;
	float:left;
}

ul.list_content {
}
li.list_item {
    border: solid 1px #ddd;
    border-bottom-width: 0;
    cursor: default;
}
li.list_item:last-child {
    border-bottom-width: 1px;
}
li.list_item:hover {
    border-color: #212f5e;
    z-index: 9;
}
.search_result .list_item_table {
    font-size: 0;
    width: 100%;
    line-height: 1;
}
.search_result .list_item_row {
    width: 100%;
}
.search_result .cell {
    vertical-align: middle;
}
.search_result .cell1 {
    width: 10%;
    padding-left: 15px;
}
.search_result .cell2 {
    width: 15%;
}
.search_result .cell3 {
    width: 15%;
}
.search_result .cell4 {
    width: 15%;
}
.search_result .cell5 {
    width: 20%;
}
.search_result .cell6 {
    width: 14%;
}
.search_result .cell7 {
    width: 13%;
}
.search_result .list_item_remarks {
    padding: 5px 20px 15px 0;
}

.bottom_border {
    position: relative;
    width: 100%;
    height: 0;
}
.bottom_border:after {
    content: '';
    display: none;
    width: 1200px;
    height: 1px;
    background-color: #212f5e;
    position: absolute;
    bottom: -1px;
    left: -1px;
    z-index: 9;
}
li.list_item:hover .bottom_border:after {
    display: block;
}

.train_num {
    padding-left: 5px;
}
.stop_stations {
    cursor: pointer;
}
.stop_stations:hover {
    cursor: pointer;
}
.from_time, .to_time {
    padding: 7px 0;
}
.from_station, .to_station {
    padding: 7px 0 7px 50px;
}
.seat_item {
    padding: 5px 0;
}
.seat_item:first-child, .ticket_count:first-child, .order_btn:first-child {
    padding-top: 10px;
}
.seat_item:last-child, .ticket_count:last-child, .order_btn:last-child {
    padding-bottom: 10px;
}
.seat_name {
    width: 80px;
    display: inline-block;
    padding-right: 10px;
}
.sleep_price {
    border-bottom: dashed 1px #999;
    color: #212f5e;
    cursor: pointer;
    position: relative;
}
.sleep_price_wrap,.cant_change_today {
    display: none;
    position: absolute;
    z-index: 10;
}
.cant_change_today .arrow {
    position:absolute;
    display:inline-block;
    width:12px;
    height:6px;
    background-position:-362px -274px;
    left:32px;
    top:-5px;
}
.cant_change_today .content {
    border:solid 1px #ddd;
    font-size:16px;
    width:65px;
    padding: 2px 10px;
    display:inline-block;
    background:#fff;
    box-shadow:0 2px 6px 0 rgba(0,0,0,0.20);
    border-radius:4px;
    color:#999;
}

.ticket_count {
    line-height: 30px;
}
.ticket_num {
    display: inline-block;
    text-align: right;
    width: 83px;
    padding-right: 5px;
    vertical-align: middle;
}
.order_btn {
    padding: 2px 20px 2px 0;
}
.train_stop_tips {
    padding-right: 20px;
    height: 100px;
    line-height: 100px;
}

.icon_sort {
    display: none;
    width: 10px;
    height: 12px;
    vertical-align: middle;
}
.list_header {
    background-color: #212f5e;
    border: solid 1px #ddd;
    border-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: default;
}
.list_header .cell {
    height: 35px;
    color: #fff;
}
.list_header .sort_item {
    padding: 0 5px;
    cursor: pointer;
}
button {
    cursor: pointer;
}
.align_center {
    text-align: center;
}
.align_left {
    text-align: left;
}
.align_right {
    text-align: right;
}

.fs_12 {
    font-size: 12px;
}
.fs_14 {
    font-size: 14px;
}
.fs_20 {
    font-size: 20px;
}

.fs_28 {
    font-size: 28px;
}

.color_1th {
    color: #FF6802;
}
.color_2th {
    color: #212f5e;
}
.color_3th {
    color: #fff;
}

.btn_1th {
	 border: 0;
    color: #fff;
    background-color: #FF6802;
}
.btn_2th {
	 border: 0;
    color: #fff;
    background-color: #212f5e;
}

.btn_small {
    width: 52px;
    height: 24px;
    font-size: 12px;
    border-radius: 4px;
}
.btn_medium {
    font-size: 14px;
    width: 73px;
    height: 26px;
    line-height: 26px;
    border-radius: 2px;
}
.main_content {
    width: 1200px;
    margin: 0 auto;
}
.hide {
    display: none;
}
.tips {
    margin: 10px 0;
    padding: 5px 10px;
}
.tips a {
    color:#333;
    text-decoration: none;
    font-size: 12px;
    margin-left: 5px;
}
.tips.tips_1th {
    border: solid 1px #ffd5a1;
    background-color: #fff4d9;
    color: #333;
}
.icon_1th {
    display: inline-block;
}










