
.blue2 a:link,
.blue2 a:visited {
    color: #09C;
    border-bottom: dashed 1px #09C;
}

.blue2 a:hover,
.blue2 a:active {
    color: #c30;
    border-bottom: dashed 1px #c30;
}

.blue2 a.btn_f60 {
    margin-left: 4px;
    border-bottom: 0px;
    display: inline-block;
    width: 52px;
    height: 20px;
    font-size: 10px;
    color: #f60;
    text-align: center;
    background: url(../img/icon.png) no-repeat 0px -33px;
}

.main {
    width: 980px;
    padding: 10px;
}

.main .left {
    width: 210px;
    overflow: hidden;
}

.main .right {
    width: 970px;
    margin-left: 15px;
}

.main .left .title {
    width: 210px;
}

.main .left .title dt {
    width: 192px;
    line-height: 28px;
    height: 30px;
    padding: 0 0 0 18px;
    font-size: 16px;
    background: url(../img/icon.png) no-repeat 5px 7px;
    overflow: hidden;
}

.main .left .title dd {
    height: 3px;
    background: #3073a8;
    border-right: solid 105px #02af9c;
    width: 105px;
    overflow: hidden;
}

.main .left span {
    color: #999;
    background: #f9f9f9;
    display: block;
    padding: 15px 8px 15px 8px;
    line-height: 18px;
}

.main .left span strong {
    display: block;
    font-size: 14px;
    color: #09C;
    font-weight: normal;
    line-height: 25px;
}

.main .left span em {
    font-style: normal;
    color: #000;
    display: block;
}

.main .left .item {
    width: 210px;
}

.main .left .item dt {
    background: #f2f4f3 url(../img/icon.png) no-repeat 13px -89px;
    border: solid 1px #ccc;
    border-width: 1px 0 1px 0;
    padding: 0 0 0 35px;
    line-height: 33px;
    height: 33px;
    font-size: 14px;
}

.main .left .item dt a {
    color: #666;
}

.main .left .item dt.here,
.main .left .item dt:hover {
    background-position: 13px -39px;
}

.main .left .item dd {
    width: 182px;
    padding: 5px 0 5px 0;
    margin: 0 auto;
}

.main .left .item dd ul {
    width: 182px;
}

.main .left .item dd ul li {
    line-height: 27px;
    height: 30px;
    overflow: hidden;
    background: url(../img/point.gif) repeat-x 0 26px;
}

.main .left .item dd ul li.here,
.main .left .item dd ul li:hover {
    background: url(../img/item_bg.png) no-repeat 0 1px;
}

.main .left .item dd ul li a {
    background: url(../img/icon.png) no-repeat 20px -195px;
    padding: 0 0 0 40px;
    color: #666;
}

.main .left .item dd ul li.here a,
.main .left .item dd ul li a:hover {
    background-position: 20px -145px;
}

a.passbutton {
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 30px;
    width: 66px;
    color: #fff;
    background: url(../img/button.png) no-repeat 0 -69px;
    float: right;
    color: #fff;
}

.blue a.passbutton {
    color: #fff;
}

.main .right .title {
    float: left !important;
    width: 100% !important;
    line-height: 28px;
    background: url(../img/icon.png) no-repeat 0 7px;
    border-bottom: solid 1px #ccc;
    height: 30px;
    text-indent: 1em;
}

.main .right .title strong {
    display: block;
    padding: 0 10px 0 0;
    font-size: 16px;
    float: left;
    font-weight: normal;
}

.main .right .title em {
    font-style: normal;
    color: #C00;
}

.main .right .title a.reselect {
    float: left;
    padding: 0 20px 0 0;
    line-height: 30px;
    height: 30px;
    color: #09C;
    display: block;
    text-align: right;
    background: url(../img/icon.png) no-repeat right -242px;
}

/*.main .right .theselect {*/
    /*width: 750px;*/
    /*margin: 10px 0 5px 0;*/
    /*padding: 0 15px 0 10px;*/
    /*background: rgb(7, 138, 211);*/
    /*text-align: right;*/
    /*line-height: 45px;*/
    /*position: relative;*/
    /*z-index: 200;*/
/*}*/

.main .right .theselect {
    width: 945px !important;
    margin: 10px 0 5px 0;
    padding: 0 15px 0 10px;
    background: rgb(7, 138, 211);
    text-align: right;
    line-height: 45px;
    position: relative;
    z-index: 200;
}


.main .right .theselect ul {
    float: left;
}

.main .right .theselect li {
    float: left;
    height: 35px;
    margin-top: 10px;
    line-height: 35px;
    width: 100px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.main .right .theselect li.here {
    background: url(../img/theselectLi_bg.png) 0 0 no-repeat;
    color: rgb(7, 138, 211);
    font-weight: bold;
}

.main .right .theselect li strong {
    display: block;
    cursor: pointer;
    font-weight: normal;
    padding: 9px 18px 0 0;
}

/*.main .right .theselect li.here strong{ background:url(../images/members/bg.png) no-repeat right 2px; }*/

.main .right .theselect .small_input {
    float: right;
}

.main .right .small_input {
    height: 22px;
    padding: 10px 0 10px 0;
    text-align: right;
    line-height: 22px;
}

.main .right .small_input input.theinput {
    width: 95px;
    border-bottom: solid 1px #ccc;
    line-height: 21px;
    height: 21px;
}

.main .right .small_input input.goearch {
    background: url(../img/button.png) no-repeat 0 -47px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 46px;
    cursor: pointer;
}

.main .right .small_input input {
    margin-right: 5px;
}

/*.main .right table.list1 {*/
    /*width: 960px;*/
    /*line-height: 17px;*/
    /*display: none;*/
/*}*/

.main .right table.list1 {
    width: 970px !important;
    line-height: 17px;
    display: none;
}





.main .right table.list1 {
    width: 960px;
    line-height: 17px;
    display: none;
}

.main .right table.list1 th {
    height: 36px;
    overflow: hidden;
    background: url(../img/bgr.png) repeat-x 0 -90px;
    line-height: 36px;
    font-weight: normal;
}

.main .right table.list1 tr {
    height: 56px;
}

.main .right table.list1 th dl.selects.lit5 {
    float: right;
    margin-top: 6px;
}

.main .right table.list1 td {
    padding: 8px 0 8px 0;
    border-bottom: solid 1px #ccc;
}

.main .right table.list1 tr.bgs td {
    background: #f6f6f6;
}

.main .right table.list1 td em {
    color: #C00;
    font-style: normal;
}

.main .right table.list1 td strong {
    color: #F60;
}

.main .right table.list1 td .edit {
    display: block;
    text-align: center;
    width: 52px;
    height: 19px;
    line-height: 19px;
    margin: 0px auto;
    color: #000;
    background: url("../img/button.png") no-repeat scroll 0px 0px transparent;
}

.main .right table.list1 td.names {
    cursor: pointer;
}

.main .right table.list1 tr.bgs td.names {
    background: #f6f6f6 url(../img/icon.png) no-repeat right 26px;
    cursor: pointer
}

.main .right table.list1 td.names.here {
    background-position: right -29px;
}

.main .right table.list1 tr.bgs td.names.here {
    background-position: right -29px;
}

.main .right table.list1 td a.gay {
    display: block;
    text-align: center;
    width: 52px;
    height: 19px;
    line-height: 19px;
    color: #fff;
    margin-top: 4px;
    border-radius: 4px;
    background: url("../img/button.png") no-repeat scroll 0px -167px transparent;
    font-size: 11px;
}

.main .right table.list2 {
    width: 100%;
    line-height: 17px;
    border: solid 1px #ccc;
}

.main .right table.list2 th {
    height: 30px;
    line-height: 30px;
    background: url(../img/bg.png) repeat-x 0 -45px;
    font-weight: normal;
    border-bottom: solid 1px #ccc;
}

.main .right table.list2 td strong {
    color: #F60;
}

.main .right table.list2 td em {
    color: #F00;
    font-weight: bold;
    font-style: normal;
}

.main .right table.list2 th strong {
    color: #cc6600;
    font-weight: normal;
}

.main .right table.list2 table .stars {
    float: left;
}

.main .right table.list2.mtop {
    margin-top: 10px;
    width: 970px !important;
}

.main .right table.list3 {
    width: 758px;
    border: solid 1px #ccc; /*margin-top:10px;*/
}

.main .right table.list3 th {
    height: 30px;
    line-height: 30px;
    background: url(../img/bg.png) repeat-x 0 -45px;
    font-weight: normal;
    border-bottom: solid 1px #ccc;
}

.main .right table.list3 th em {
    color: #C00;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
}

.main .right table.list3 th strong {
    color: #F60;
    font-weight: normal;
}

.main .right table.list3 td {
    padding: 16px 0 16px 0;
    line-height: 17px;
}

.main .right table.list3 td strong {
    color: #F60;
    font-weight: bold;
}

.main .right dl.list4 {
    padding: 15px 0 16px 0;
    width: 725px;
    background: url(../img/point.gif) repeat-x 0 bottom;
}

.main .right dl.list4 dt {
    padding: 0 0 0 30px;
}

.main .right dl.list4 dd {
    padding: 0 0 0 30px;
}

.main .right dl.list4 dd span {
    padding: 0 35px 0 0;
    display: block;
    line-height: 35px;
    float: left;
}

.main .right dl.list4 dd ul {
    width: 100%;
}

.main .right dl.list4 dd ul li {
    line-height: 26px;
    height: 26px;
}

.main .right dl.list4 dd ul li a {
    margin: 3px 0 0 8px;
    padding: 0;
    display: block;
    text-align: center;
    float: right;
    background: url(../img/button.png) no-repeat 0 -47px;
    width: 46px;
    height: 22px;
    line-height: 22px;
}

.main .right table.list5 {
    width: 758px;
    border: solid 1px #ccc;
    margin-top: 10px;
}

.main .right table.list5 th {
    line-height: 20px;
    background: url(../img/bg.png) repeat-x 0 -126px;
    font-weight: normal;
    border-bottom: solid 1px #ccc;
    padding: 10px 0 10px 15px;
}

.main .right table.list5 th em {
    color: #F00;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}

.main .right table.list5 td {
    line-height: 17px;
    padding: 0 0 0 15px;
    border-bottom: solid 1px #ccc;
}

.main .right table.list5 td strong {
    color: #F60;
}

.main .right table.list6 {
    border: solid 1px #ccc;
    border-width: 0 1px 1px 0;
    background: #fff;
    line-height: 28px;
}

.main .right table.list6 td {
    border: solid 1px #ccc;
    border-width: 1px 0 0 1px;
    padding: 0 5px 0 5px;
}

.main .right table.list7 th {
    font-size: 14px;
}

.main .right table.list7 th span {
    font-size: 12px;
    color: #666;
}

.main .right table.list8 {
    width: 970px !important;
    float: left;
    margin-top: 10px;
}

.main .right table.list8 tr {
    height: 40px;
    line-height: 40px;
}

.main .right table.list8 td {
    background: url(../img/point.gif) repeat-x 0 bottom;
}

.main .right table.list8 tr.nobg td {
    background: none;
}

.main .right table.list8 td em {
    color: #F60;
    font-weight: bold;
    font-style: normal;
}

.main .right table.list8 th {
    font-weight: normal;
    background: url(../img/bgr.png) repeat-x 0 -44px;
    line-height: 30px;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
}

.main .right table.list8 th.leftbo {
    border-left: solid 1px #ccc;
}

.main .right table.list8 th.rightbo {
    border-right: solid 1px #ccc;
}

.main .right table.list8 .checkbox {
    margin: 0 auto;
    float: none;
}

.main .right table.list9 {
    line-height: 27px;
}

.main .right table.list9 th {
    font-size: 15px;
    color: rgb(255, 255, 255);
    background: none repeat scroll 0% 0% rgb(7, 138, 211);
    padding: 0px 0px 0px 10px;
}

.main .right table .td_bg {
    background: #f1f8fe /*url(../images/public/td_bg.png) repeat-x;*/;
    padding-left: 20px
}

.main .right .button {
    text-align: right;
    padding: 10px 0 10px 0;
}

.main .right .button a {
    float: right;
    display: block;
    width: 107px;
    margin-left: 15px;
    height: 27px;
    line-height: 25px;
    background: url(../img/button.png) no-repeat 0 -20px;
    text-align: center
}

.main .right .button a span {
    display: block;
    padding: 0 10px;
}

.main .right .button2 {
    display: block;
    background: url(../img/button.png) no-repeat -46px -47px;
    text-align: center;
    width: 79px;
    height: 21px;
    line-height: 21px;
    float: right;
}

.main .right .button3 {
    background: url(../img/button.png) no-repeat !important;
    text-align: center;
    width: 107px;
    height: 27px;
    line-height: 27px;
    float: left;
    color: #fff !important;
    border-radius: 5px;
    cursor: pointer;
}

.main .right .button4 {
    background: url(../img/button.png) no-repeat 0 -89px;
    padding: 0 0 0 25px;
    height: 22px;
    line-height: 21px;
    color: #000;
    float: right;
}

.main .right .button4 h6 {
    display: block;
    background: url(../img/button.png) no-repeat right -89px;
    padding: 0 8px 0 0;
    font-weight: normal;
    cursor: pointer;
}

.main .right .listtitle {
    line-height: 30px;
    padding: 0px;
    font-weight: bold;
}

.main .right .listtitle strong {
    color: #333;
    padding: 0 20px 0 0;
    font-weight: bold;
}

.main .right .box {
    margin: 10px 0 5px 0;
    padding: 0 8px 0 10px;
    line-height: 26px;
}

.main .right .box span {
    display: block;
    float: right;
}

.main .right .box strong {
    color: #F00;
}

.main .right .box .line_yellow {
    border-top: solid 1px #e4dc55;
}

.lfy_icon {
    width: 40px;
    background: url(../img/Airline_l.png) no-repeat;
    height: 34px;
    display: block;
    float: left;
    margin: 0 0 0 10px;
}

.main .right .page {
    padding: 10px 0 10px;
}

.main .right .page span {
    display: block;
    float: right;
    height: 20px;
}

.main .right .page a {
    display: block;
    line-height: 20px;
    height: 20px;
    width: 20px;
    font-size: 11px;
    text-align: center;
    float: left;
    margin: 0 0 0 5px;
}

.main .right .page a:hover,
.main .right .page a.here {
    background-position: -72px 0;
    color: #fff;
}

.main .right .process dt {
    padding: 0 0 0 5px;
    background: #e5e5e5;
    line-height: 14px;
}

.main .right .process dd {
    padding: 10px 0 0 0;
}

/*new updates*/
.innerSheetTip {
    width: auto !important;
    float: right;
    font-size: 12px;
    display: none;
    position: relative;
}

.btn {
    padding: 2px 3px;
    cursor: pointer;
    color: #0E5B94
}

.tipFrame {
    position: absolute;
    left: 10px;
    padding: 40px 60px;
    border: 2px solid #FAA22F;
    background: #FFF;
    display: none;
    font-size: 12px;
    color: #333333
}

.iKnow {
    position: absolute;
    right: 10px;
    bottom: -30px;
    cursor: pointer;
    display: none;
    color: #333333;
    font-weight: bold;
    font-size: 13px
}

.button_new {
    width: 107px;
    height: 27px;
    color: #a1a3a6;
    background: url(../img/button.png) 0 -114px no-repeat;
}

.Research {
    float: right;
    color: #676464;
    width: 50px;
    height: 45px;
    text-align: center;
    overflow: hidden;
    color: #666;
}

.Research .searchBtn {
    width: 30px;
    float: left;
    cursor: pointer;
}

div.Research div {
    width: 60px;
    height: 30px;
    float: left;
    margin-left: 5px;
    color: rgb(255, 255, 255);
}

div.Research input {
    display: block;
    width: 96px;
    height: 20px;
    border: 2px solid #CBC9C9;
    float: left;
    margin: 11px 0 0 8px;
    background: url(../img/input.png) 0 -328px no-repeat;
    cursor: pointer;
    padding: 0 0 0 0px;
}

/*??????-?????-?งา?*/
.showStatus {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 562px;

    border: 1px solid rgb(147, 195, 236);
    background: #fff;
    line-height: 25px;
    top: 90px;
    right: 15px;
}

.showStatus table {

    /* position: absolute;left:0;top:0; */
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.showStatus table th {
    background: rgb(7, 138, 211);
    border: none;
    color: #fff;
    line-height: 30px;
    height: 25px;
}

.showStatus table td {
    border-bottom: 1px dashed rgb(204, 204, 204);
    border-left: 1px dashed rgb(204, 204, 204);
    color: rgb(102, 102, 102);
    padding: 0px 3px;
    line-height: 20px;
    _vertical-align: top;
}

/*???????-??????????????*/
.deleteTip {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -0 0 0 -150px;
    background: #ccc
}

/*??????-???????-????*/
.main .right table.list3 .bigBg th {
    line-height: 22px;
}

.main .right table.list1 th.orderStatus {

    background: url(../img/question_icon.png) right 0 no-repeat;
    text-align: left;
    text-indent: 5px;
}

.main .right div.innerSheetTipHeight {
    height: 55px;
}

.main .right table.list1 td.names span.outSpan {
    display: block;
    margin: 5px 0 0 0;
    border: solid 1px #fff;
    line-height: 20px;
    height: 20px;
    width: 78px;
    overflow: hidden;
    position: relative;
    z-index: 1000
}

.main .right table.list1 td.names span.outSpan span {
    background: url("../img/icon.png") no-repeat scroll 70px 8px #fff;
    height: auto;
    display: block;
    width: 80px;
    text-align: center;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
}

.main .right table.list1 td.names span.outSpan span hr {
    border: none;
}

.main .right .detailsBlock a {
    float: left;
    display: block;
    width: 107px;
    margin-left: 15px;
    height: 27px;
    line-height: 25px;
    background: url("../img/button.png") no-repeat scroll 0px -20px transparent;
    text-align: center;
}