
.big_titles{ background:url(../images/icon_title.png) no-repeat 0 5px;}

.flytable{ width:758px; border:solid 1px #ccc; border-bottom:0; margin-bottom:10px;position: relative;z-index: 5;}
.flytable th{ background:url(../images/flight/bg.png) repeat-x 0 -177px; height:27px; line-height:27px; color:#fff; font-weight:normal;}
.flytable td{ border-bottom:solid 1px #ccc; padding:0 0 0 0; background:#fff url(../images/flight/bg.png) repeat-x 0 -204px; text-align:center;}
.flytable  .show{ border-bottom: 1px dashed #0A259B;color: #0E5B94;cursor: pointer;display: block;float: left;margin: 0 0 0 33px;text-align: left;width: 40px;}
.flytable td .show{ _float:none;_display:block;}
/*.flytable .tab td{font-size:12px; border-bottom:solid 1px #ccc; padding:0 0 0 0; background:none;color:#0E5B94; text-align:center;font-weight:normal;}*/
/* .flytable .tab th{font-size:12px; background:none; height:27px; line-height:27px; color:#0E5B94; font-weight:normal;}*/
.flytable td p{
	text-align:left;
}
.flytable td p .show-1{border-bottom: 1px dashed #0033CC;color: #0E5B94;display: inline-block;}
.flytable td strong{ color: #F60;}
.flytable .lfy_icon{ width:50px; background:url(../images/flight/Airline_l.png) no-repeat; height:80px; display:block; float:left;position:relative}
.flytable .lfy_iconjr{ width:50px; background:url(../images/flight/JR.png) no-repeat; height:80px; display:block; float:left;position:relative}
.flytable .lfy_iconly{ width:50px; background:url(../images/flight/EU.png) no-repeat; height:80px; display:block; float:left;position:relative}

.flytable_b{ width:980px;}
.flytable_b th{ background-position:0 -139px; line-height:39px;}
.flytable_b td{ padding:0;}

.recommend{ background:#fff;position:relative; overflow:hidden; width:1000px; z-index:3; padding:0;}
.recommend .big_titles{ margin:0 0 0 10px;}
.recommend .imglist{ width:1005px; position:relative; left:-2px; height:345px; overflow:hidden; z-index:2;}
.recommend .imglist dl{ float:left; width:250px; border-right:solid 1px #fff; height:345px; overflow:hidden; position:relative; }
.recommend .imglist dl dt{width:250px; height:345px; position:relative;}
.recommend .imglist dl dt img{width:250px; height:345px;}
.recommend .imglist dl dd{ position:relative; top:-120px; height:120px; height:200px;overflow:hidden; color:#fff; font-size:14px; line-height:30px; color:#ccc;}
.recommend .imglist dl dd strong{ font-size:22px; display:block; font-weight:normal;}
.recommend .imglist dl dd em{ font-size:22px; color:#fff;}
.recommend .imglist dl dd em em{filter: Alpha(Opacity=70, Style=0);opacity: 0.70; font-size:12px; padding:0 0 0 5px;}
.recommend .imglist dl dd span{display:block; height:105px; width:185px;  padding:15px 0 0 15px; position: relative; z-index:1;}
.recommend .imglist dl dd h2{ display:block;top:-120px; height:120px; height:200px; background:#000;filter: Alpha(Opacity=50, Style=0);opacity: 0.50; position: relative; z-index:0;}


span.preferential{ width:46px; height:16px; display:block;float:right; float:left\9;line-height:16px; font-size:10px; background:url(../images/public/icon.png) no-repeat 4px 0; padding:0 0 0 20px; display:block; margin-right:10px; color:#F60;}
.yd_help{border-bottom:1px dashed #0A259B;padding-left:4px; color:#0E5B94}